.container{
  display: flex;
  margin: 20pt;
  justify-content: center; 

}
.box{
  width: 200px;
  height: 200px;
  background: red;
  position:relative;
}
.text-center{
  text-align: center;
  padding: 10px 0;
}
#canvas{
  left: auto;
}
#reset{
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    background-color: green;
}
#reset:active{
    -webkit-filter:brightness(.5);

}

.btm {
    /*background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    -webkit-filter:brightness(.5);
}
.now{
    -webkit-filter:brightness(1);
}
